
.gallery-name {
	i.fas {
		margin-right: 30px;
	}
	
	text-transform: none;
	font-family: "ProximaNova-Regular", sans-serif;
	letter-spacing: 4.5px;
	a {
		@media (max-width: 920px) {
			color: #fff;
		}
	}
}

.gallery-year {
	margin-top: 15.7%;
	margin-bottom: 15.7%;
}



@media (max-width: 920px) {
	.gallery-title {
		margin-top: 20px;
		font-size: 25px;
	}
	.gallery {
		flex-direction: column;
		.services {
			padding-top: 120px;
			padding-bottom: auto;

			.hero-btn-call {
				display: none;
			}
		}
		.gallery-year {
			margin-top: 20px;
		}
		.leftblock {
			height: 30%;
			flex-shrink: 1;
			flex-grow: 2;
		}
		.rightblock {
			flex-grow: 3;
			display: block;
			width: 100%;
		}
	}
}
