.leftblock {
	width: 50%;
	flex: 1;
	box-sizing: border-box;

	&__content {
		position: relative;
		padding-left: 22%;
		height: 100%;
	}
}

.rightblock {
	width: 50%;
	flex: 1;
}

.services {
	margin-top: 20%;
	padding-right: 10px;
	
	&__title {
		font-family: "Akrobat-Regular", sans-serif;
		font-size: 40px;
	}

	&__list {
		margin-top: 7%;
		margin-bottom: 10%;
	}

	&__list-item {
		font-family: "Akrobat-Bold", sans-serif;
		font-size: 22px;
		margin-bottom: 5.26%;
		margin-right: 30px;
		cursor: pointer;
		&:last-child {
			margin-bottom: 0;
		}
	}
	
}

.hero-btn-call {
	width: 170px;
}
.hero-btn-gallery {
	width: 170px;
	margin-top: 20px;
	display: none;
}


.sublist {
	justify-content: space-between;
	padding: 5%;
	padding-left: 10%;
	display: none;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 999;
	flex-direction: column;

	&__title {
		font-size: 35px
	}

	&__item-holder {
		padding-top: 5%;
		padding-bottom: 5%;
		display: flex;
		flex-direction: column;
	}

	&__item {
		font-family: "Akrobat-Thin", sans-serif;
		font-size: 18px;
		line-height: 1.87;

		strong {
			font-family: "Akrobat-Bold", sans-serif;
		}
	}

	&__btn {
		width: 300px;
	}

	&__close {
		position: absolute;
		right: 0;
		top: 0;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		margin: 20px;
		background-image: url(../img/nav-icons/cancel.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
	}
}




@media (max-width: 920px) {


	.services {
		padding-top: 200px;
		margin-top: 0;
	}
	
	.sublist {
		width: 100%;
		padding: 10%;
		&__title {
			font-size: 25px;
			margin-top: 50px;
		}
	}
	
	.hero-btn-gallery {
		display: block;
	}

	.hero-rightblock {
		display: none;
	}

	.leftblock {
		width: 100%;
		&__content {
			padding-left: 11%;
			padding-right: 11%;
		}

	}
}


@media (max-width: 540px) {
	.hero {
		.leftblock {
			&__content {
				padding: 30px;
			}
		}
	}

	.services {
		padding-top: 150px;
	}
}

@media (max-width: 400px) {
	.sublist {
		&__btn {
			width: 100%;
		}
	}
}