.mobile-menu {
	display: none;
	margin-left: 50px;
	transition: transform 1s;


	&__trigger {
		cursor: pointer;
	}

	&__content {
		position: fixed;
		width: 100%;
		height: 100%;
		margin-top: 100px;
		padding: 50px;
		padding-left: 11%;
		box-sizing: border-box;
		background: #1f1f1f;
		top: 0;
		left: 0;
		z-index: 999;

		.contacts {
			top: 0;
			padding: 0 15%;
			position: relative;
			margin-bottom: 0;
		}
	}
}

.mobmenu-contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	&__title {
		font-family: "Akrobat-Bold", sans-serif;
		color: #fff;
		font-size: 35px;
	}
	&__list {
		font-size: 25px;
		line-height: 1.67;
		margin: 7% 0;
		margin-left: 20px;
	}
	&__btn-route, &__btn-call, &__btn-gallery {
		border: 1px solid #fff;
		color: #fff;
		margin-bottom: 20px;
		width: 300px;
		&:hover,
		&:active,
		&:focus, {
			background: #fff;
			color: #000;
			border-color: #fff;
		}
	}

}

@media (max-width: 920px) {
	.mobile-menu {
		display: block;
		margin-right: 20px;

		&__content {
			display: none;
			&.is-visible {
				display: block;
			}
		}
	}
}

@media (max-width: 425px) {
	.mobile-menu {
		margin-right: 0;

		&__content {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.mobmenu-contacts {
		&__list {
			font-size: 16px;
		}

		&__btn-route, &__btn-call, &__btn-gallery {
			width: 100%;
		}
	}
}



.menu-btn {
	width: 40px;
	height: 40px;
	position: relative;

	span, span:before, span:after {
		position: absolute;
		display: block;
		width: 30px;
		height: 2px;
		top: 50%;
		left: 50%;
		margin-top: -1px;
		margin-left: -15px;
		background: #fff;
		
	}

	span:before, span:after {
		content: '';
		transition: transform .3s;
	}

	span:before {
		transform: translateY(-10px);
	}
	span:after {
		transform: translateY(10px);
	}


}

.menu-btn_active {
	span:before {
		transform: rotate(45deg);
		opacity: 1;
	}

	span:after {
		transform: rotate(-45deg);
	}

	span {
		height: 0;
	}
}