.product {
	position: relative;
	.rightblock {
		.category-name {
			position: absolute;
			right: 55px;
			top: 100px;
			font-family: "ProximaNova-Light", sans-serif;
			font-size: 20px;
			writing-mode: vertical-lr;
			margin-top: -1px;
			letter-spacing: 1.2px;
			&.fix-mode {
				position: fixed;
				z-index: 100;
			}
		}
	}

	.topline {
		position: absolute;
		width: 100%;
		margin-top: -5px;
		&.fixed {
			position: fixed;
			padding-top: 10vh;
			top: 0;
			z-index: 999;
			width: 50%;
			padding-left: 0;
		}
		&__lang {
			margin-right: 0;
			margin-left: 11%;
		}
		
	}
}

.contacts {
	font-size: 22px;
	position: absolute;
	bottom: 0;
	margin-bottom: 52px;
	&__title {
		font-family: "Akrobat-Bold", sans-serif;
		margin-bottom: 50px;
	}
	&__list {
		font-family: "Akrobat-Thin", sans-serif;
		margin-bottom: 90px;
	}

	&__list-item {
		margin-bottom: 22px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__gallery-link {
		font-family: "Akrobat-Regular", sans-serif;
		text-decoration: underline;
	}
}

.path-link {
	text-decoration: underline;
}


.product-content {
	width: 100%;
	height: 100%;
	position: relative;
	padding-right: 16.7%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.prod-item {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: flex-end;

	&__title {
		position: absolute;
		display: block;
		font-family: "Akrobat-SemiBold", sans-serif;
		font-size: 45px;
		width: 80%;
		right: 50%;
		display: block;
		top: 50%;
		transform: translateY(-50%);
		z-index: 50;
	}

	&__img-holder {
		width: 57.3%;
		padding-top: 42.1%;
		position: relative;
	}

	&__inner-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}


@media (max-width: 1450px) {
	.prod-item {
		&__title {
			font-size: 35px;
			line-height: 1.3;
		}
	}
}


@media (max-width: 1200px) {
	.prod-item {
		&__title {
			font-size: 30px;
		}
	}
}


@media (max-width: 992px) {

	.product-content {
		padding-top: 10%;
		padding-bottom: 10%;
	}

	.prod-item {
		flex-direction: column;
		justify-content: center;
		height: 100%;
		&__title {
			top: auto;
			left: auto;
			right: auto;
			order: 1;
			position: relative;
			transform: none;
			margin-bottom: 20px;
			
		}
		&__img-holder {
			order: 2;
			width: 100%;
			flex-shrink: 0;
			height: 50%;
		}
	}
}

@media (max-width: 920px) {

	.product {
		.leftblock {
			display: none;
		}
		.rightblock {
			padding-left: 16.7%;
			padding-top: 100px;
			position: relative;
			.category-name {
				writing-mode: unset;
				left: 0;
				top: 100px;
				margin-top: 40px;
				margin-left: 16.7%;
				&.fix-mode {
					position: absolute;
				}
			}
		}
		.topline {
			display: none;
			
		}
	}

	.prod-item {
		justify-content: flex-start;
		&__title {
			margin-top: 30px;
		}
		&__img-holder {
			margin-top: auto;
		}
	}
}