.slider {
	width: 100%;
	height: 100%;
	position: relative;
	&__wrapper {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	&__next, &__prev {
		position: absolute;
		width: 100px;
		height: 60px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 50%;
		fill: #fff;
		top: 80%;
		margin-top: -30px;
		cursor: pointer;
		background-image: url(../../img/nav-icons/left-arrow.svg);
	}

	&__next {
		right: 7.3%;
		transform: rotate(180deg);
		&.hidden {
			display: block;
		}
	}

	&__prev {
		left: 7.3%;
		&.hidden {
			display: none;
		}
	}
	&__slide {
		display: block;
		width: 100%;
		height: 80%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

	}

	&__sticker {
		position: absolute;
		top: 0;
		margin-top: 5%;
		right: 7.3%;
		color: #fff;
		height: 40%;
		width: 20%;
	}
	
	&__sticker-name {
		font-size: 20px;
		letter-spacing: 1.2px;
		writing-mode: tb-rl;
		position: absolute;
		right: 0;
		top: 0;
		font-family: "ProximaNova-Light", sans-serif;
	}
	&__sticker-number {
		font-family: 'Akrobat-Regular', sans-serif;
		font-size: 35px;
		letter-spacing: 1.2px;
		position: absolute;
		right: 0;
		bottom: 0;
	}

}

@media (max-width: 560px) {
	.slider {
		&__sticker {
			display: none;
		}
	}
}