.topline {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	padding-top: 10%;
	box-sizing: padding-box;
	z-index: 9999;
	

	&__name {
		font-family: "FuturaBook", sans-serif;
		font-size: 25px;
		letter-spacing: 1.5px;
		text-transform: uppercase;
	}
	&__right-holder {
		margin-left: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-shrink: 0;
	}

	&__lang {
		font-family: "ProximaNova-Light", sans-serif;
		font-size: 12px;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		margin-right: 30px;

		&--sm {
			display: none;
		}
		&--lg {
			display: inline-block;
		}
	}

	
}


@media (max-width: 1050px) {
	.topline {
		&__lang--lg {
			display: none;
		}
		&__lang--sm {
			display: inline-block;
		}
	}
}

@media (max-width: 920px) {

	.topline {
		position: fixed;
		align-items: center;
		top: 0;
		left: 0;
		width: 100%;
		background: #000;
		background-image: url(../img/mobile-topline-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top left;
		color: #fff;
		height: 100px;
		padding-top: 0;
		padding-left: 11%;
		padding-right: 11%;
		z-index: 200;

		display: flex;
		justify-content: space-between;
		&.mobile-bg {
			background: #1f1f1f;
		}

		&__lang {
			margin-right: 0;
		}
	}
}


@media (max-width: 540px) {
	.topline {
		padding: 0 20px;
		display: flex;
		justify-content: space-between;
		&__lang {
			&--lg {
				display: none;
			}

			&--sm {
				display: block;
			}
		}
	}

}


@media (max-width: 430px) {
	.topline {
		flex-wrap: wrap;

		&__name {
			width: 100%;
			text-align: center;
			order: 2;
		}
		&__right-holder {
			width: 100%;
			order: 1;
		}

		&__lang {
			margin-left: 0;
			margin-right: 0;
		}
	}
}