* {
	box-sizing: border-box;
}

body {
	font-family: "Akrobat-Thin", sans-serif;
	font-size: 22px;
	line-height: 1;
	color: #000;
	
}

a {
	text-decoration: none;
	color: #000;
	&:hover, &:focuse, &:active {
		color: #000;
	}
}

.clearfix:after,
.clearfix:before {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}


.r {
	border: 1px solid red;
}

.b {
	border: 1px solid #000;
}


.testlargeblock {
	height: 500px;
	// border-top: 1px solid #000;
	display: block;
	background: #F6F6F6;
	z-index: 400;
	color: red;
}


.main-btn {
	display: block;
	font-family: "ProximaNova-Light", sans-serif;
	font-size: 14px;
	padding: 20px 30px;
	border: 1px solid #000;
	color: #000;
	letter-spacing: 2px;
	font-weight: 300;
	text-align: center;
	cursor: pointer;
	&:hover,
	&:focus,
	&:active {
		background: #000;
		color: #fff;
	}
}

.show-flex {
	display: flex;
}




